a:link {
    color: #000;
    text-decoration: underline;
}

a:visited {
    color: #000;
    text-decoration: underline;
}
    
a:hover {
    color: #000;
    text-decoration: underline;
}
    
a:active {
    color: #000;
    text-decoration: underline;
}

img {
    min-width: 80vw;
    max-width: 95vw;
}

video {
    min-width: 80vw;
    max-width: 95vw;
}